@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';

html {
	/* font */
	--font-sans: 'Manrope', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;

	/* dark */
	--brand-dark: var(--orange-3);
	--text-1-dark: var(--gray-3);
	--text-2-dark: #757575;
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: black;
	--header-background-dark: #1a1a1b;
	--border-dark: var(--gray-9);
	--sidebar-background-dark: #1a1a1b;
	--searchbar-background-color-dark: #272729;
	--reg-border-color-dark: grey;
	--hover-border-color-dark: white;
	--hover-sidebar-dark: #232324;
	--back-to-top-btn-dark: white;
	--back-to-top-btn-hover-dark: #e4e6e7;
	



	/* light */
	--brand-light: var(--orange-10);
	--text-1-light: var(--gray-8);
	--text-2-light: #757575;
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: #dae0e6;
	--header-background-light: white;
	--border-light: var(--gray-4);
	--sidebar-background-light: white;
	--searchbar-background-color-light: #f6f7f8;
	--reg-border-color-light: grey;
	--hover-border-color-light: #0079d3;
	--hover-sidebar-light: #f5f5f5;
	--back-to-top-btn-light: white;
	--back-to-top-btn-hover-light: #e4e6e7;


	
}

:root {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
	--sidebar-background: var(--sidebar-background-dark);
	--header-background: var(--header-background-dark);
	--searchbar-background-color: var(--searchbar-background-color-dark);
	--reg-border-color: var(--reg-border-color-dark);
	--hover-border-color: var(--hover-border-color-dark);
	--hover-sidebar: var(--hover-sidebar-dark); 
	--back-to-top-btn : var(--back-to-top-btn-dark);
	--back-to-top-btn-hover: var(--back-to-top-btn-hover-dark) ;
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
		--sidebar-background: var(--sidebar-background-light);
		--header-background: var(--header-background-light);
		--searchbar-background-color: var(--searchbar-background-color-light);
		--reg-border-color: var(--reg-border-color-light);
		--hover-border-color: var(--hover-border-color-light);
		--hover-sidebar: var(--hover-sidebar-light);
		--back-to-top-btn : var(--back-to-top-btn-light);
		--back-to-top-btn-hover: var(--back-to-top-btn-hover-light) ;
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
	--sidebar-background: var(--sidebar-background-dark);
	--header-background: var(--header-background-dark);
	--searchbar-background-color: var(--searchbar-background-color-dark);
	--hover-sidebar: var(--hover-sidebar-dark) 
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
	--sidebar-background: var(--sidebar-background-light);
	--header-background: var(--header-background-light);
	--searchbar-background-color: var(--searchbar-background-color-light);
	--hover-sidebar: var(--hover-sidebar-light) 

}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background);
	background-attachment: fixed;
}

html, body, label, div, form, input, header, a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    padding-inline: 0;
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}
